html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

h1 {
  height: 50px;
  padding: 40px;
  margin: auto;
  text-align: center;
  background-color: #232F3E;
  color: #f3a847;
}

#inventory-section {
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#inventory-item {
  border: 1px solid black;
  width: 33%;
}

#item-image {
  width: 90%;
}

#addtocart-button {
  width: 100%;
  height: 25px;
  background-color: #f3a847;
}

#cart-section {
  position: absolute;
  display: flex;
  top: 180px;
  right: 0;
  height: 500px;
  width: 10%;
  border: 1px solid black;
}

#cart-icon-section {
  width: 10%;
  background-color: #f3a847;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s;
}

#cart-icon-section.active {
  width: 100%;
  background-color: #f3a847;
  display: flex;
  justify-content: center;
  align-items: center;
}


#cart-icon {
  height: 20px;
  width: 20px;
}

#item-info-cart {
  width: 0;
  display: none;
}

#item-info-cart.active {
  display: block;
  width: 90%;
  transition: display 0.3s;
}

#order-history-section {
  position: absolute;
  display: flex;
  top: 180px;
  height: 500px;
  width: 10%;
  border: 1px solid black;
}

#order-history-section.active {
  width: 50%;
  transition: width 0.3s;
}

#order-history {
  width: 100%;
  background-color: #f3a847;
  transition: width 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  transition: width 0.3s;
}

#order-history.active {
  width: 100%;
  background-color: #f3a847;
  transition: width 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#order-section {
  width: 0;
  height: 448px;
  overflow: scroll;
  background-color: #232F3E;
  color: white;
  transition: width 0.3s;
}

#order-section.active {
  width: 90%;
  height: 448px;
  padding: 25px;
  overflow: scroll;
  background-color: #232F3E;
  color: white;
  transition: width 0.3s;
}
